html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: whitesmoke;
    font-family: 'start';
}
@font-face {
    font-family: 'start';
    src: url(/font/Roboto-Black.ttf);
}
body {
    background-image: url(/img/pexels-neo-2653362.jpg);
    background-color: #636564;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: initial;
    background-attachment: fixed;
    
}

                                /* HEADER */

#inicio {
    background-color: rgba(255, 255, 255, .45);
    backdrop-filter: blur(30px) saturate(200%);   
    z-index: 2;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;  
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
}
.portfolio-nav ul{
    display: flex;
    list-style: none;
}
.portfolio-nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 50px;
    font-size: 1.5em;
    font-weight: bolder;
    transition: all 500ms;
}
.portfolio-nav ul li {
    transition: all 500ms;
}
.portfolio-nav ul li:hover {
    transform:scale(1.1);
}
.portfolio-nav ul li a:hover {
    color: rgba(11, 9, 145, 0.9);
}
.logo {
        width: 180px;
        align-self: center;
        margin-top: 25px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

                                    /* SECCION PERFIL */      

.perfil-data {
    display: flex;
    justify-content: center;
    
    align-items: flex-start;
    padding-top: 150px;
    height: 100vh;
}
.perfil-data > div {
    display: flex;
    padding: 40px;
    width: 70%;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    border-radius: 20px;
    height: 428px;
    justify-content: space-evenly;
    align-self: flex-start;
} 
.perfil-data div div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 40px;
    width: 70%;
}
.perfil h1 {
    font-weight: bold;
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    animation: type 3s steps(38) both,
    blink 1s step-end infinite ;
    max-width: fit-content;
    width:0px;
    
}
.perfil a {
    align-self: center;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    
}
.perfil a:hover {
    color: red;
}
@keyframes type {
    from { width: 0 }
    to { width: 100%;
    white-space:normal }
}
@keyframes blink {
    0%,100%
    {
    border-right: 2px solid ;
    }
    50%{
    border-color: transparent;
    }
}
.perfil-img {
    max-height: 100%;
    border-radius: 5px;
}

                                /* SECCION TRABAJOS */

#trabajos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(15px);
    margin-top: 100px;
    margin-bottom: 100px;
}
#trabajos h2 {
    padding-top: 150px;
}
.grid-container {
    display: flex;
    justify-content: center;
}
.trabajos-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 60px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
}
.trabajos-container p{
    color: rgba(0, 0, 0, .9);
    font-size: 1.5em;
    text-align: center;
}
.trabajos {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    background-color: rgba(255, 255, 255, .45);
    backdrop-filter: blur(30px) saturate(200%);
    opacity: 85%;
    padding: 40px;
    font-weight: 600;
    filter: grayscale(0.4);
}
.trabajos h3 {
    text-transform: uppercase;
    text-align: center;
}
.trabajos a {
    text-transform: uppercase;
    text-align: center;
}
.trabajos img {
    max-width: 100%;
}
.trabajos:hover {
    filter: grayscale(0);
}
.oscuro {
    opacity: 100%;
    text-align: center;
}
.oscuro:hover {
    filter: grayscale(0);
}

                            /* SECCION HERRAMIENTAS */

#herramientas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: center;
    width: 70%;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.herramientas-container {
    display: flex;
    align-items: baseline;
    background-color: rgba(255, 255, 255, .45);
    backdrop-filter: blur(30px) saturate(200%);
    column-gap: 20px;
    height: 55%;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    border-radius: 20px;
    padding: 40px;
}
.herramientas-container div {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: baseline;
    font-size: 1.1em;
    
}
.herramientas-container img {
    width: 100px;
    height: auto;
    margin-bottom: 5%;
}
.herramientas-container p {
    color: rgba(0, 0, 0, .9);
    font-weight: 600;
    font-size: 1.1em;
}

                                      /* SECCION METODOLOGIA */

#metodologia {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 200px;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
#metodologia img {
    width: auto;
    height: 180px;
}
.metodologia {
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    border-radius: 20px;
    width: 70%;
    height: 55%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(15px);
    font-size: 1.1em;
    padding: 40px 20px;
}
.metodologia div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

                                  /* SECCION CLIENTES */

#clientes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}
#clientes img {
    width: 50%;
}
.clientes {
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    border-radius: 20px;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(15px);
    padding: 40px 20px;
}
.clientes div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

                                    /* SECCION CONTACTO */

#contacto {
    border: 1px solid rgba(0, 0, 0, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    border-radius: 20px;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(15px);
    width: 70%;
    height: 70%;
    padding: 2em;
    margin-top: 100px;
    margin-bottom: 100px;
}
.contacto-container {
    border-radius: 20px;
    padding: 2em;
    display: flex;
    justify-content: space-around;
}
.contacto-container > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
}
.contacto-container div div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
}
.contacto-container h4 {
    font-size: 1.6em;
}
.contacto-container p {
    font-size: 1.1em;
}
iframe {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

                                /* SECCION FOOTER */

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, .45);
    backdrop-filter: blur(30px) saturate(200%);   
}
footer a {
    text-decoration: none;
    margin-right: 30px;    
}
footer a img{
    width: 64px;
    height: 64px;
    padding: 2px;
}
footer img:hover {
    border: 1px solid rgba(255, 255, 255, .25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
    border-radius: 10px;
    transform:scale(1.2);
}

                                    /* MEDIA QUERIES */


@media screen and (min-width: 1400px) {
    .trabajos {
        font-size: 1.1em;
    }
    .herramientas-container div {
        font-size: 1em;
        width: 70%;
    }
}

/* desde 768px hasta ---> 1400px */

@media screen and (min-width:768px) and (max-width: 1400px) {
    h2 {
    font-size: 2em;
}
.perfil-data > div {
    width: 90%;
    height: 60%;
    font-size: 1.5em;
}
.perfil-img {
    height: 90%;
}
#trabajos {
    width: 90%;
}
.trabajos {
    width: 300px;
    height: 300px;
    font-size: 1.05em;
}
#herramientas {
    width: 90%;
}
.herramientas-container {
    height: 80%;
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.herramientas-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
    padding: 5px;
}
.herramientas-container p {
    font-size: 1.5em;
    padding: 15px;
}
.herramientas-container img {
    width: 50px;
    height: auto;
}
#metodologia div {
    height: auto;
}
#metodologia img {
    height: 100px;
    width: auto;
}
.metodologia {
    width: 90%;
    font-size: 1.5em;
}
#clientes div {
    height: auto;
}
#clientes img {
    width: 60%;
}
.clientes {
    width: 90%;
    flex-direction: row;
}
footer a img{
    width: 46px;
    height: 46px;
    padding: 1px;
}
#contacto {
    width: 90%;
}
iframe {
    width: 220px;
    height: 165px;
    border-radius: 10px;
}
#footer {
    width: 100%;
    height: 60px;
}
.logo {
    width: 160px;
    align-self: center;
    margin-top: 20px;
}
}



@media screen and (min-width: 920px) and (max-width: 1400px) {
    #inicio {
        font-size: 1.55em;
    }
}



@media screen and (max-width: 1400px) {
    * {
    font-size: 0.9em;
}
} 

                                                /* hasta ---> 768px */

@media screen and (max-width: 768px) {
* {
    font-size: 0.75em; 
}
h2 {
    font-size: 2em;
}
#inicio {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}
.perfil-data {
    padding-top: 150px;
}
.perfil-data > div {
    height: 80%;
    width: 90%;
    font-size: 3em;
}
.perfil-data div div {
    width: 100%;
}
.logo {
    display: none;

}
.perfil-img {
    display: none;
}
#trabajos {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.trabajos {
    width: 90%;
    height: 100%;
    font-size: 1.5em;
    padding: 20px;
}
.trabajos-container {
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#herramientas {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.herramientas-container {
    height: auto;
    width: 90%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.herramientas-container div {
    display: flex;
    align-items: center;
    justify-content: baseline;
    width: 100%;
    height: auto;
    padding: 5px;
}
.herramientas-container p {
    font-size: 2.5em;
    padding: 10px;
}
.herramientas-container img {
    width: 50px;
}
.metodologia {
    flex-wrap: wrap;
    width: 90%;
    font-size: 2.5em;
}
#metodologia img {
    height: 100px;
    width: auto;
}
#metodologia  {
    font-size: 1em;
    margin-top: 50px;
    margin-bottom: 50px;
}
.clientes {
    display: flex;
    
    width: 90%;
}
#clientes img {
    width: 75%;
}
#clientes  {
    font-size: 0.9em;
    margin-top: 50px;
    margin-bottom: 50px;
}
#contacto {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contacto-container > div {
    margin-right: 10px;
    width: 80%;
}
.contacto-container div div {
    margin-right: 5px;
}
.contacto-container h4 {
    font-size: 0.9rem;
}
.contacto-container p {
    font-size: 0.5rem;
}
iframe {
    width: 160px;
    height: 120px;
    border-radius: 10px;
}
#footer {
    width: 100%;
    height: 40px;
}
footer a img{
    width: 15px;
    height: 15px;
    padding: 0.5px;
}
}



                                        /* MENU HAMBURGUESA */

@media screen and (max-width: 768px) {
    #inicio {
    display: none;
    }
    #menu-hamburguesa {
    display: inline;
    }
}
@media screen and (min-width: 768px) {
    #sidebar-menu {
        display: none;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: rgba(0, 0, 0, 1);
    z-index: -1;
    filter: blur(15px);
}

#hamburger-input{
    display: none;
}

#menu-hamburguesa {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Cabin', Sans-serif;
    background-image: url(/img/clipart365828.png);
    background-size: contain;
    z-index: 1;
}

#menu-hamburguesa #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: black;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#menu-hamburguesa h3 {
    color: whitesmoke;
    font-size: 2.2rem;
}

#menu-hamburguesa ul {
    padding-left: 0px;
}

#menu-hamburguesa li {
    list-style-type: none;
    line-height: 3rem;
}

#menu-hamburguesa a {
    color: whitesmoke;
    font-size: 1.3rem;
    text-decoration: none;
}

#menu-hamburguesa a:hover {
    text-decoration: underline;
}

#hamburger-input:checked + #menu-hamburguesa #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay {
    visibility: visible;
    opacity: 0.4;
}


